<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="portsql">
	
	<!-- 전체 포트폴리오 불러오기 -->
	<select id="listPortf" resultType="com.cross.model.Resume">
		SELECT picture1, name_kr, r_degree, r_wdate, r_hash, r_subject
		FROM resume
		WHERE r_temp = 'N'
	</select>
	
	<!-- 포트폴리오 보기 -->
	<select id="viewPortf" parameterType="String" resultType="com.cross.model.Resume">
		SELECT * 
		FROM resume
		WHERE user_id = #{user_id}
	</select>
	
	<!-- 포트폴리오 내 업무스킬 보기 -->
	<select id="viewSkill" resultType="HashMap">
		SELECT skill,score 
		FROM work_skill 
		WHERE user_id = #{user_id}
	</select>
	
	<!-- 포트폴리오 내 이미지앨범 보기 -->
	<select id="viewImage" resultType="HashMap">
		SELECT category,image 
		FROM image_album 
		WHERE user_id = #{user_id}
	</select>
	
	<!-- 포트폴리오 내 수행프로젝트 보기 -->
	<select id="viewProj" resultType="HashMap">
		SELECT prj_name,p_content ,used_skill,period_st,period_ex
		FROM portfolio 
		WHERE user_id = #{user_id}
	</select>
	
	
	<!-- 임시저장 여부 -->
	<select id="isTempPortf">
		SELECT r_temp
		FROM resume
		WEHRE user_id = #{user_id}
	</select>

	<!-- 임시저장의 경우 -->
	<insert id="regTempPort">
		INSERT into resume(R_TEMP)
		VALUES()
		WHERE user_id = #{user_id}
	</insert>
	
	<!-- 포트폴리오 등록 -->
	<insert id="regPortf">
		INSERT INTO resume(user_id,POSITION,R_SUBJECT,R_HASH,sns_url,NAME_KR,NAME_en,R_BIRTH,R_DEGREE,
		R_PHONE,R_EMAIL,R_ADDRESS,R_WDATE)
		VALUES()
		WHERE user_id = #{user_id}
	</insert>
	
	<!-- 포트폴리오 사진 등록 -->
	<insert id="regPortImage">
		INSERT INTO resume(PICTURE1,PICTURE2,PICTURE3)
		VALUES(#{PICTURE1},#{PICTURE2},#{PICTURE3})
		WHERE user_id = #{user_id}
	</insert>
	
	<!-- 조회수 증가 -->
	<update id="plusViews">
		UPDATE resume
		SET r_views = r_views + 1
		WHERE user_id = #{user_id}
	</update>
	
	<!-- 포트폴리오 수정 -->
	<update id="updatePf">
		UPDATE resume
		SET
		WHERE user_id = #{user_id} 
	</update>

	<!-- 등록 포트폴리오 삭제 -->
	<delete id="delPortf">
		DELETE
		FROM resume
		WEHRE user_id = #{user_id}
	</delete>
</mapper>
